<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="header">
<meta charset="UTF-8">
	<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/userfront/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/userfront/font-awesome/css/font-awesome.min.css}"/>
 
  <!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" th:href="@{/userfront/css/style.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/userfront/fonts/antonio-exotic/stylesheet.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/userfront/css/lightbox.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/userfront/css/responsive.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/userfront/css/responsive.css}"/>
    
<script th:src="@{/userfront/js/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/userfront/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/userfront/js/lightbox-plus-jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/userfront/js/instafeed.min.js}" type="text/javascript"></script>
<script th:src="@{/userfront/js/custom.js}" type="text/javascript"></script>
<script th:src="@{/userfront/js/jquery.min.js}" type="text/javascript"></script>

</head>
<body>

</body>
</html>